<h1>Awesome Guacamole Recipes</h1>

<blockquote>
  The real secret to guacamole is that you use exactly the elements
  that you need, which is cilantro, onion, tomato, and jalapenos. And, of
  course, avocado.
  <cite><%= link_to "Demián Bichir", "https://en.wikipedia.org/wiki/Demián_Bichir" %></cite>
</blockquote>

<h3>Guacamol-wat?</h3>

<p>
  Regarding to the all-knowing <%= link_to "Wikipedia", "https://en.wikipedia.org/wiki/Guacamole" %> Guacamole is an avocado based dip with roots back to the
  ancient Aztecs in Mexico. Because we at <%= link_to "ArangoDB", "http://arangodb.org" %> just love everything related to
  avocados we named the Ruby ODM <%= link_to "Guacamole", "http://guacamolegem.org/" %>.
</p>

<h3>And now what?</h3>

<p>
  Because we love avocados just that much we created this page to collect all the awesome recipes to create tasty Guacamole.
  But we want stop there! No, we will go even further: Every avocado based dish should be collected and archived in one place
  to allow avocado lovers all over the world to enjoy new creations every day!
</p>

<h3>OK, I'm sold! Now show me!</h3>

<p>
  If you can't wait to browse all our amazing recipes use the following video by <%= link_to "Rhett & Link", "https://www.youtube.com/channel/UCbochVIwBCzJb9I2lLGXGjQ" %>
  as a first inspiration. We hope this will make you want more and contribute your very own creations back to the community.
</p>

<div class="flex-video widescreen">
  <iframe width="560" height="315" src="//www.youtube.com/embed/kRlqsvphYww" frameborder="0" allowfullscreen></iframe>
</div>
